<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TMTestCases" verbose="1" >
    <parameter name="browserType" value="chrome"/>
    <test name="UserRegistration" >
        <groups>
            <run>
                <include name="userRegTestCase"/>
            </run>
        </groups>
        <classes>
            <class name="TestCases.UserRegistrationTestCase"/>
            <class name="TestCases.LoginViaFBTestCase"/>
            <class name="TestCases.LanguageDropDownTestCase"/>
            <class name="TestCases.CookieVerificationTestCase"/>
        </classes>
    </test>

</suite>